* {
  padding: 0px;
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  color: #BF7A87;
}
body {
  background-color: #00305B;
  height: 1080px;
  width: 1920px;
}
main {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}
.IAm{
    display: flex;
    justify-content: center;
}
.GoingText {
    font-size: 72px;
    color: #F24B88;
  }
header{
        background: url('image/rs=w_1920,m.webp');
        background-repeat: no-repeat;
        background-size: auto, cover;
}
.MyImg{
    display: flex;
    justify-content: flex-start;
    margin-left: 300px;
    padding-bottom: 300px;
    padding-top: 300px;
    height: 300px;
}
.H {
  font-size: 52px;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  width: 1350px;
  background-color: #03588C;
  border-radius: 100px;
}
.card1 {
  background-color: #03588C;
  width: 1000px;
  height: auto;
  margin-top: 100px;
  border-radius: 100px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  display: flex;
  flex-direction: column;
}
.img1 {
  border-radius: 100px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  height: 300px;
  width: 450px;
  display: flex;
}
.text1 {
  font-size: 42px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.BgForImage1 {
  background-color: #03588C;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.down_text1 {
  font-size: 32px;
  border: none;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.card2 {
  background-color: #03588C;
  width: 450px;
  height: auto;
  margin-top: 100px;
  border-radius: 100px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  display: flex;
  flex-direction: column;
}
.text2 {
  font-size: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
footer{
    display: flex;
    justify-content: center;

}
.Myfooter {
  background-color: #03588C;
  margin-top: 220px;
  margin-bottom: 70px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  width: 1000px;
}
