* {
    
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #BF7A87;
  text-shadow: #00305B 1px 0 2px;
}
body {
  background-color: #00305B;
  height: 1080px;
  width: 1920px;
}
main {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}
.IAm{
    display: flex;
    justify-content: center;
}
.GoingText {
    font-size: 72px;
    color: #F24B88;
  }
header{
        background: url('image/rs=w_1920,m.webp');
        background-repeat: no-repeat;
        background-size: auto, cover;
        border-bottom-left-radius: 1000px;
        border-bottom: solid #F24B88;
}
.MyImg{
    display: flex;
    justify-content: flex-start;
    margin-left: 300px;
    padding-bottom: 300px;
    padding-top: 300px;
    height: 300px;
}
.H {
  font-size: 52px;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  width: 1350px;
  background-color: #03588C;
  border-radius: 100px;
  border-bottom: solid #F24B88;
}
.UEvsU_Image{
    width: 700px;
}
.BGImage{
    display: flex;
    justify-content: center;
}
.card1 {
    padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 30px;
  background-color: #03588C;
  width: 1000px;
  height: auto;
  margin-top: 30px;
  border-radius: 100px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  display: flex;
  flex-direction: column;
  border-bottom: solid #F24B88;
}
.img1 {
  border-radius: 100px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  height: 300px;
  width: 450px;
  display: flex;
}
.text1 {
  font-size: 42px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.BgForImage1 {
  background-color: #03588C;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.down_text1 {
  font-size: 32px;
  border: none;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.card2 {
    padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  background-color: #03588C;
  width: 350px;
  height: auto;
  margin-top: 30px;
  border-radius: 100px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  display: flex;
  flex-direction: column;
  border-bottom: solid #F24B88;
}
.text2 {
  font-size: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
footer{
    display: flex;
    justify-content: center;
    text-align: center;
}
.Myfooter {
  background-color: #03588C;
  margin-top: 30px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  width: 500px;
  border-bottom: solid #F24B88;
}
.ProgressBars{
    display: flex;
    justify-content:center;
    flex-direction: column;
}
.progress1{
    display: flex;
    justify-content:center;
    border-radius: 9px;
}
.progress2{
    display: flex;
    justify-content:center;
    border-radius: 9px;
}